
.SmallButtonStyle {
  width: 55%;
  height: 75px;
  border-radius: 20px;
  background-color: #c81b27;
  transition: 1s;
}
.Text {
    width: 100%;
    font-family: Kanit;
    font-size: 24px;
    text-align: center;
    color: #fff;
}
.SmallButtonStyle:hover {
  background-color: #ed797b;
  /* text-decoration: underline; */
  transition: 0.2s;
}
