.DisplayContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HeaderText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Outfit';
    font-size: 1.5rem;
    font-weight: 400;
    width: 90vw;
    margin: 1rem 0 1rem 0;
}

.SliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
}

.SliderContainer > img {
    width: 60%;
    height: 60vh;
    object-fit: cover;
}

.SubheadText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit';
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

